---
layout: master
---

%article
  %div(itemprop="articleBody")
    %h1= spanify title

    = content

  %footer
    %p
      Si vous le souhaitez, voici quelques moyens de me joindre / d'en savoir plus sur moi :

    %form{:enctype => "text/plain", :method => "get", :action => "mailto:yves@brissaud.name"}
      %input{:type => "hidden", :name => "subject", :value => "Contact via log.winsos.net"}
      %textarea{:rows => 5, :cols => 70, :name => "body", :placeholder => "Votre message", :required => "required"}
      %br
      %input{:type => "submit", :value => "Contactez-moi !"}


    %nav
      %ul
        - if @contents.account? "twitter"
          %li
            %a.icon-twitter-sign.color.big{:href => "#{@contents.account "twitter"}"}
              Mon compte twitter
        - if @contents.account? "gplus"
          %li
            %a.icon-google-plus-sign.color.big{:href => "#{@contents.account "gplus"}?rel=author"}
              Mon compte Google +
        - if @contents.account? "github"
          %li
            %a.icon-github-sign.color.big{:href => "#{@contents.account "github"}"}
              Mon compte Github
        - if @contents.account? "linkedin"
          %li
            %a.icon-linkedin-sign.color.big{:href => "#{@contents.account "linkedin"}"}
              Mon compte linkedin

    %iframe{:style => "border: 0; height: 200px; width: 600px;", :src => "http://www.winsos.net/statistics/index.php?module=CoreAdminHome&action=optOut&language=fr"}

%footer
  = render :partial => "twitter_account"
  = render :partial => "twitter_share_account"
  = render :partial => "gplus_share"
