!!! 5
%html(lang="en" itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#")
  %head
    = render :partial => "header_cv"

  %body(class="cv")
    = render :partial => "body_header"

    .hire-me
      %p
        Vous cherchez un
        %strong
          talentueux architecte Web
        avec une expérience significative en développement, notamment 7 ans d'expérience en Javascript.
        Mais aussi avec des compétences de
        %strong
          chef de projet
        et une expérience de
        %strong>
          Scrum Master
        ? Ça tombe bien je suis ouvert à toute proposition intéressante !


    %section.main
      %article
        %div(itemprop="articleBody")
          = content

        %footer
          %h2
            N'hésitez plus, contactes-moi là tout de suite maintenant sans tarder&nbsp;!
          %form{:enctype => "text/plain", :method => "get", :action => "mailto:yves@brissaud.name"}
            %input{:type => "hidden", :name => "subject", :value => "Contact via log.winsos.net"}
            %textarea{:rows => 5, :cols => 70, :name => "body", :placeholder => "Votre message", :required => "required"}
            %br
            %input{:type => "submit", :value => "Travaillons ensemble !"}
          %h2
            En savoir plus :

          %nav
            %ul
              %li
                %a.icon-book{:href => "cv_Yves_Brissaud.pdf"}
                  Mon Curriculum Vitae (pdf)
              - if @contents.account? "github"
                %li
                  %a.icon-github-sign.color{:href => "#{@contents.account "github"}"}
                    Mon compte Github
              - if @contents.account? "linkedin"
                %li
                  %a.icon-linkedin-sign.color{:href => "#{@contents.account "linkedin"}"}
                    Mon compte linkedin

      %footer
        = render :partial => "twitter_share_account"
        = render :partial => "gplus_share"

    = render :partial => "body_footer"
