!!! 5
%html(lang="en" itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#")
  %head
    %link{ref:'canonical', href: link_to('cv')}
    %meta{'http-equiv' => 'refresh', :content => "0; url=#{link_to("about")}"}
    = render :partial => "header_cv"

  %body(class="cv")
    = render :partial => "body_header"

    %section.main
      %a{href: link_to('about')}
        Click here if you are not redirected.
      :javascript
        location="#{link_to('about')}"
      %footer
        = render :partial => "twitter_share_account"

    = render :partial => "body_footer"
