!!! 5
%html(lang="en")
  %head
    = render :partial => "header"

  %body
    = render :partial => "body_header"

    %section.main
      %article
        = content

        - if @scope.limit > 0
          - posts = @contents.list_lasts(@scope.limit)
          - post = posts.first
          .phare
            %h1.icon-comments-alt
              %a{:href => link_to(post.url)}
                = spanify post.title
            %blockquote
              %ul.tags
                - post.tags.each do |tag|
                  %li
                    %a.icon-tag{:href => link_to("tags/#{tag}")}
                      = tag
              - if post.image?
                %img{:src => post.image}
              - if post.description?
                = post.description
              - else
                = post.excerpt false, 100, " <a class='next' href='#{link_to(post.url)}'>[Lire la suite…]</a>"
          %ul.post-list.index
            - posts[1..@scope.limit].each do |post|
              %li
                %h2.icon-comments-alt
                  %a{:href => link_to(post.url)}
                    = spanify post.title
                %blockquote
                  - if post.image?
                    %img{:src => post.image}
                  - if post.description?
                    = post.description
                  - else
                    = post.excerpt true
          %h2.all_posts.icon-calendar
            %a{:href => link_to("archives")}
              = spanify "Voir tous"

        - else
          - if @scope.title?
            %h1= spanify @scope.title
          %ul.post-list
            - posts = @contents.list_by_date
            - posts.keys.sort.reverse.each do |year|
              - year_posts = posts[year]
              %li
                %span.date= year
                %ul
                  - year_posts.keys.sort.reverse.each do |month|
                    - month_posts = year_posts[month]
                    %li
                      %span.date= month
                      %ul
                        - month_posts.keys.sort.reverse.each do |day|
                          - day_posts = month_posts[day]
                          %li
                            %span.date= day
                            %ul
                              - day_posts.each do |post|
                                %li.icon-comments-alt
                                  %a{:href => link_to(post.url)}
                                    = post.title
        

    = render :partial => "body_footer"
